.square {
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: #e8e5e5;
  border: solid 1px #0003;
  border-radius: 13px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.square:hover {
  box-shadow: 0 0 10px #0008;
}
.square_x {
  background-color: rgba(155, 22, 22, 0.78);
}

.square_o {
  background-color: rgba(22, 155, 22, 0.78);
}
.square_x:hover,
.square_o:hover {
  box-shadow: none;
  cursor: default;

}
